[push]
  default = matching
[user]
  name = Mitchell Vitez
  email = mitchell@vitez.me
[core]
  editor = vim
  pager = less -F -X
[color]
  diff = auto
  status = auto
  branch = auto
; [commit]
;   gpgsign = true
[gpg]
  program = gpg
